/* cSpell:disable */

@use 'sass:math';
@use 'sass:meta';
@use './variables' as *;

// ^======================== FUNCTIONS ========================^ //

// %------------------------ helpers ------------------------% //
//@ max handling '0'
@function Max($a, $b) {
  @if meta.type-of($a)=='number' and $a ==0 and math.is-unitless($a) {
    $a: 0px;
  }

  @if meta.type-of($b)=='number' and $b ==0 and math.is-unitless($b) {
    $b: 0px;
  }

  @return max($a, $b);
}
//@ negative
@function neg($value) {
  @return calc(-1 * $value);
}

//@ to fixed decimals
@function round-fixed($number, $decimals: $DYN_DECIMALS) {
  @if meta.type-of($number) !='number' {
    @return $number;
  }

  $p: math.pow(10, $decimals);
  @return math.div(math.round($number * $p), $p);
}

// ^======================== CONVERT PX TO DYNAMIC UNITS ========================^ //
//% converts px to vw according to custom viewport width
@function toDYN($value, $viewport, $unit) {
  @if meta.type-of($value) !='number' or meta.type-of($viewport) !='number' or $viewport ==0 {
    @return $value;
  }

  $ratio: math.div($value, $viewport) * 100;
  $ratio: round-fixed($ratio);

  @return #{$ratio}#{$unit};
}

// @------------ to width ------------@ //
@function toVW($value, $viewport) {
  @return toDYN($value, $viewport, vw);
}

// @------------ to heights ------------@ //
@function toVH($value, $viewport, $unit: vh) {
  @return toDYN($value, $viewport, $unit);
}

@function toDVH($value, $vph) {
  @return toVH($value, $vph, dvh);
}

@function toLVH($value, $vph) {
  @return toVH($value, $vph, lvh);
}

@function toSVH($value, $vph) {
  @return toVH($value, $vph, svh);
}

// ^======================== ADAPT VALUES TO VIEWPORTS ========================^ //
// %------------ adapt to custom viewport width ------------% //
@function vw-max($max, $min, $viewportWidth) {
  @return Max(toVW($max, $viewportWidth), $min);
}

// %------------ adapt to specific viewport widths ------------% //
@function fhd($max, $min) {
  @return vw-max($max, $min, $FULLHD_WIDTH);
}

@function desk($max, $min: null) {
  @if $min ==null {
    @return vw-max($max, $max, $DESK_WIDTH);
  }

  @return vw-max($max, $min, $DESK_WIDTH);
}

@function cont($max, $min) {
  @return vw-max($max, $min, $CONT_WIDTH);
}

@function lap($max, $min) {
  @return vw-max($max, $min, $LAP_WIDTH);
}

@function tab($max, $min) {
  @return vw-max($max, $min, $TAB_WIDTH);
}

@function mid($max, $min) {
  @return vw-max($max, $min, $MID_WIDTH);
}

@function mob($max, $min) {
  @return vw-max($max, $min, $MOB_WIDTH);
}

// %------------ adapt to custom viewport height ------------% //
// % (viewport height max)
@function dvh-max($max, $min, $viewportHeight) {
  @return Max(toDVH($max, $viewportHeight), $min);
}

@function lvh-max($max, $min, $viewportHeight) {
  @return Max(toLVH($max, $viewportHeight), $min);
}

@function svh-max($max, $min, $viewportHeight) {
  @return Max(toSVH($max, $viewportHeight), $min);
}

// %------------ adapt to both custom vw and vh ------------% //
@function vw-vh-min($initialValue, $minW, $minH, $viewportW, $viewportH) {
  $byW: vw-max($initialValue, $minW, $viewportW);
  $byH: dvh-max($initialValue, $minH, $viewportH);
  @return min($byW, $byH);
}