// ^======================== container ========================^ //

.container {
  max-width: desk(1440px);
  height: 100%;
  margin-inline: auto;
  padding-inline: desk(40px, 32px);

  @include MEDIA($TAB_WIDTH) {
    padding-inline: adapt(40px, 16px);
  }
}