// ^======================== select ========================^ //

.select {
  position: relative;
  
  &._active {
    .icon {
      transform: rotateX(180deg);
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  transition: all 250ms;
}

.body {
  width: 100%;
  max-height: 0;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  transition: all 250ms;
}

.option {
  display: block;
  cursor: pointer;

  input {
    position: absolute;
    visibility: hidden;
  }
}