// ^======================== checkbox ========================^ //

.checkbox {

  input {
    position: absolute;
    visibility: hidden;
  }

  &:has(input:checked) {
    .icon {}
  }

  &._invalid {
    .label {}
  }
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: desk(14px);
  color: $darkGray50;

  @include TABLET {
    font-size: tab(14px, 10px);
  }
}

.icon {
  flex-shrink: 0;
  display: block;
  transition: all 250ms;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  @include square(desk(16px));
  margin-right: desk(10px);
}